*.make
cmake_install*
*.internal
*.o
*.dirstamp
*.a
*.swp
camera/.deps/
main/.deps/
camera/CMakeFiles/
imgproc/CMakeFiles/
main/Makefile
main/CmakeFiles/
Cmakefiles/
install_manifest.txt
CMakeCache.txt
Makefile
scratch/
main/uavPayload
save/
