*.cmake
*.make
*.internal
*.o
*.dirstamp
*.a
*.swp
camera/.deps/
main/.deps/
camera/CMakeFiles/
imgproc/CMakeFiles/
main/Makefile
main/CmakeFiles/
Cmakefiles/
install_manifest.txt
CMakeCache.txt
Makefile
